<div class="card-container">
    <div class="card title-card card-shadow" routerLink="/incidencias">
        <img src="assets/images/cards/incidente.png" alt="Imagen incidencias" class="img_card">
        <p class="">Incidencias</p>
    </div>
    <div class="card title-card card-shadow" routerLink="/pedidos">
        <img src="assets/images/cards/carrito-de-compras.png" alt="Imagen pedidos" class="img_card">
        <p class="">Pedidos</p>
    </div>
    <div class="card title-card card-shadow" *ngIf="userRole === 'ROL_ADMIN'" routerLink="/usuario">
        <img src="assets/images/cards/planificacion.png" alt="Imagen administracion" class="img_card">
        <p class="">Administracion</p>
    </div>
</div>
