@import '../../../styles/form-common-styles.css';
@import '../../../styles/button-common-styles.css';
@import '../../../styles/table-common-styles.css';


.table-buttons-options {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 880px) {
    .table-buttons-options {
        flex-direction: column;
    }
}

.table-cli-equipos {
    max-height: 600px;
    overflow-y: auto;
  }