@import '../../../styles/form-common-styles.css';
@import '../../../styles/button-common-styles.css';
@import '../../../styles/table-common-styles.css';

.slider-container, .slides, .slide {
    width: 100%;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
  
.slides img {
    width: 100%;
    height: auto;
}
  
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 16px;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}
  
.prev {
    left: 0;
}
  
.next {
    right: 0;
}

@media screen and (max-width: 768px) {
    .prev, .next {
        margin:8px;
    }
}
@media screen and (max-width: 440px) {
    .prev, .next {
        margin: 0px;
    }
}