<div class="grid-footer-container">
    <div class="cards-container">
        <div class="card-footer card-shadow title-card">
            <p>Horario de Atención 
                al Cliente:</p>
            <p>L-V 9:00 a 21:00</p>
            <p>S-D 9:00 a 15:00</p>
        </div>
        <div class="card-footer card-shadow title-card">
            <p>Calle de la Alegría 25</p>
            <p>info@fixprint.com</p>
            <p>91 666 55 44</p>
        </div>
    </div>
</div>
<div class="copyright-container title-card">
    <p>© Copyright 2024-2025</p>
</div>