<div class="grid-body-container">
    <div class="back-home">
        <button class="button-back-home nav-blue-button title-card" routerLink="/home">Volver al inicio</button>
    </div>
    <div class="first-body-container">
        <div class="title-first-body-container title-M">
            <p class="title-text">¡Bienvenido a FixPrint!</p>
        </div>
        <div class="slider-container">
            <app-slider></app-slider>
        </div>
    </div>
    <div class="second-body-container">
        <div class="title-second-body-container title-M">
            <p class="title-text">¿A dónde quieres ir?</p>
        </div>
        <div class="cards-container">
            <app-card></app-card>
        </div>
    </div>
</div>