@import '../../../styles/form-common-styles.css';
@import '../../../styles/button-common-styles.css';
@import '../../../styles/table-common-styles.css';
@import '../../../styles/body-common-styles.css';

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.button-container .button-large {
    margin-right: 16px;
}

.button-container .button-large:last-child {
    margin-right: 0;
}