/** 

*****************************
    STORYBOOK -- BUTTON
*****************************

*/

.first-button {
    display: inline-block;
    border-radius: 8px;
    box-shadow: var(--button-box-shadow);
    margin-bottom: 6px;
    background-color: var(--medium-orange);
    color: var(--dark-blue);
    padding: 8px;
    border: none;

    &:hover{
        border: 3px solid var(--dark-blue);
        padding: 6px;
    }
    &:checked{
        border: 3px solid var(--dark-blue);
        padding: 6px;
        box-shadow: none;
    }
    &:disabled{
        border: none;
        box-shadow: none;
        background-color: var(--light-gray);
        color: var(--dark-gray);
    }
}

.second-button {
    display: inline-block;
    border-radius: 8px;
    box-shadow: var(--button-box-shadow);
    margin-bottom: 6px;
    background-color: var(--medium-blue);
    color: var(--dark-orange);
    padding: 8px;
    border: none;

    &:hover{
        border: 3px solid var(--dark-orange);
        padding: 6px;
    }
    &:checked{
        border: 3px solid var(--dark-orange);
        padding: 6px;
        box-shadow: none;
    }
    &:disabled{
        border: none;
        box-shadow: none;
        background-color: var(--light-gray);
    }
}

.nav-orange-button {
    display: inline-block;
    border-radius: 8px;
    box-shadow: var(--button-box-shadow);
    margin-bottom: 6px;
    background-color: var(--dark-orange);
    color: var(--dark-blue);
    padding: 8px;
    border: none;

    &:hover{
        border: 3px solid var(--dark-blue);
        padding: 6px;
    }
    &:checked{
        border: 3px solid var(--dark-blue);
        padding: 6px;
        box-shadow: none;
    }
    &:disabled{
        border: none;
        box-shadow: none;
        background-color: var(--light-gray);
    }
}

.nav-blue-button {
    display: inline-block;
    border-radius: 8px;
    box-shadow: var(--button-box-shadow);
    margin-bottom: 6px;
    background-color: var(--dark-blue);
    color: var(--dark-orange);
    padding: 8px;
    border: none;

    &:hover{
        border: 3px solid var(--dark-orange);
        padding: 6px;
    }
    &:checked{
        border: 3px solid var(--dark-orange);
        padding: 6px;
        box-shadow: none;
    }
    &:disabled{
        border: none;
        box-shadow: none;
        background-color: var(--light-gray);
    }
}

.button-large {
    width: 50%;
}

@media screen and (max-width:768px){
    .button-large {
        width: 80%;
    } 
}