<div class="table-cli-incidencias">
    <table class="text-card card-shadow">
        <thead>
            <tr>
                <th>ID incidencia</th>
                <th>Equipo</th>
                <th>Descripcion</th>
                <th>Fecha de alta</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="loading">
                <td colspan="6">Cargando datos...</td>
            </tr>
            <tr *ngIf="error">
                <td colspan="6">{{ error }}</td>
            </tr>
            <tr *ngIf="!loading && !error && incidencias.length === 0">
                <td colspan="6">No hay datos disponibles</td>
            </tr>
            <tr *ngFor="let incidencia of incidencias">
                <td>{{ incidencia.idIncidencia }}</td>
                <td>{{ incidencia.marca + ' ' + incidencia.modelo }}</td>
                <td>{{ incidencia.descripcionCliente }}</td>
                <td>{{ incidencia.fechaAlta }}</td>
                <td>{{ incidencia.estado }}</td>
                <td class="table-buttons-options">
                    <button #btnCancelar [attr.data-id]="incidencia.idIncidencia" id="btn-cancelar" class="button-form first-button text-card" [disabled]="incidencia.estado === 'CANCELADA'" (click)="cancelarIncidencia(incidencia.idIncidencia)">Cancelar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>