<div class="grid-body-container">
    <div class="first-body-container">
        <div class="error-image">
            <img src="assets/images/error-404.png" alt="Error Image">
        </div>
        <div class="error-title">
            <p class="title-M">¡Lo sentimos! Parece que estamos teniendo problemas</p>
        </div>
        <div class="btn-error">
            <button class="nav-blue-button title-card" routerLink="/home">Volver a la home</button>
        </div>
    </div>
    <div class="second-body-container"></div>
</div>