<div class="title-form title-M">
    <p>Formulario para modificar contraseña</p>
</div>
<form class="form-modificar-password-container form-container one-column"  action="">
    <div class="form-first-column title-card">
        <div class="input">
            <p>Contraseña actual:</p>
            <input type="password" class="input text-card">
        </div>
        <div class="input">
            <p>Nueva contraseña:</p>
            <input type="password" class="input text-card">
        </div>
        <div class="input">
            <p>Repita nueva contraseña:</p>
            <input type="password" class="input text-card">
        </div>
        <button class="button-form first-button title-card">Actualizar contraseña</button>
    </div>
</form>